@import "../../../Assets/Styles/Styles.scss";

DefaultGameMenu {
	height: 100%;
	width: 100%;
	color: white;
	position: absolute;
	font-weight: bold;
	transition: all 0.2s ease;
	flex-direction: column;
	font-size: 30px;
	opacity: 1;
	font-family: Poppins;
	padding: 50px;
	background-image: url("https://cdnb.artstation.com/p/assets/images/images/047/343/237/large/vilhelm-faldbakken-20211122215108-1.jpg?1647365777");
	background-size: cover;
	pointer-events: all; /* Enabling mouse cursor */

	&:intro {
		opacity: 0;
	}

	&:outro {
		opacity: 0;
	}

	.blur {
		position:absolute;
		height:100%;
		width:100%;
		backdrop-filter: blur(10px);
		background-color: rgba(blue, 0.1);
	}

	.actions {
		height: 100%;
		width: 25%;
		flex-direction: column;
		justify-content: center;
		//border:2px solid red;
		gap: 5px;

		realitymenubutton {
			height: 80px;
			width: 100%;
		}
	}
}
