@using Blastzone.RealityOn.API.Interfaces
@using Blastzone.RealityOn.UI.Providers
@using Sandbox;
@using Sandbox.UI;

@inherits Panel
@implements IRootView
@attribute [StyleSheet]

@namespace Blastzone.RealityOn.UI.Layout.GameMenu.Default

<root>
    <div class="blur"></div>
    <text>RealityOn</text>
    <div class="actions">
        <realitymenubutton onclick="@(()=> PageViewerProvider.Draw<DefaultServerList>())">#play</realitymenubutton>
        <realitymenubutton>#settings</realitymenubutton>
        <realitymenubutton>#quit</realitymenubutton>
    </div>
</root>

@code
{

}
