@inherits Panel
@attribute [StyleSheet, Library("realitybutton")]
@namespace Blastzone.RealityOn.UI.Components

<root>
    <div class="bar"></div>
    <div class="background"></div>
</root>

@code {

}
